---
import type { HTMLAttributes } from "astro/types";
import { MissingSlotError } from "../../../utils/exceptions";
import { useI18n } from "../../../utils/i18n";
import Box from "../../atoms/box/box.astro";
import NavItem from "../../molecules/nav-item/nav-item.astro";
import Popover from "../../molecules/popover/popover.astro";

type Props = HTMLAttributes<"nav"> & {
  id: string;
};

const { class: className, id, ...attrs } = Astro.props;

if (!Astro.slots.has("nav")) throw new MissingSlotError("nav");
if (!Astro.slots.has("search")) throw new MissingSlotError("search");
if (!Astro.slots.has("settings")) throw new MissingSlotError("settings");

const { translate } = useI18n(Astro.currentLocale);
---

<nav {...attrs} class:list={["navbar", className]} id={id}>
  <Popover
    {...attrs}
    class:list={["navbar-item", "menu"]}
    controllerId={`${id}-menu-controller`}
    modalId={`${id}-menu-modal`}
    openTo="top"
  >
    <fragment slot="label">
      {
        (controllerId: string) => (
          <NavItem
            as="label"
            class="navbar-item-label"
            for={controllerId}
            icon="hamburger"
            iconSize={28}
            isBlock
            isRounded
          >
            {translate("navbar.main.nav.label")}
          </NavItem>
        )
      }
    </fragment>
    <fragment slot="modal">
      {
        (modalId: string) => (
          <Box class="navbar-item-modal" id={modalId}>
            <slot name="nav" />
          </Box>
        )
      }
    </fragment>
  </Popover>
  <Popover
    {...attrs}
    class:list={["navbar-item", "search"]}
    controllerId={`${id}-search-controller`}
    modalId={`${id}-search-modal`}
    openTo="top"
  >
    <fragment slot="label">
      {
        (controllerId: string) => (
          <NavItem
            as="label"
            class="navbar-item-label"
            for={controllerId}
            icon="search"
            iconSize={28}
            isBlock
            isRounded
          >
            {translate("navbar.search.label")}
          </NavItem>
        )
      }
    </fragment>
    <fragment slot="modal">
      {
        (modalId: string) => (
          <Box class="navbar-item-modal" id={modalId} isPadded>
            <slot name="search" />
          </Box>
        )
      }
    </fragment>
  </Popover>
  <Popover
    {...attrs}
    class:list={["navbar-item", "settings"]}
    controllerId={`${id}-settings-controller`}
    modalId={`${id}-settings-modal`}
    openTo="top"
  >
    <fragment slot="label">
      {
        (controllerId: string) => (
          <NavItem
            as="label"
            class="navbar-item-label"
            for={controllerId}
            icon="gear"
            iconSize={28}
            isBlock
            isRounded
          >
            {translate("navbar.settings.label")}
          </NavItem>
        )
      }
    </fragment>
    <fragment slot="modal">
      {
        (modalId: string) => (
          <Box class="navbar-item-modal" id={modalId} isPadded>
            <slot name="settings" />
          </Box>
        )
      }
    </fragment>
  </Popover>
</nav>

<style>
  .navbar {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column dense;
    position: relative;

    @media (width >= 1024px) {
      display: flex;
      flex-flow: column;
      gap: clamp(var(--spacing-2xs), 1.5dvh, var(--spacing-sm));
      padding-inline: clamp(var(--spacing-sm), 2dvw, var(--spacing-2xl));
    }
  }

  .navbar-item {
    min-height: calc(var(--one-px-in-rem) * 54);
    padding: var(--spacing-2xs);
    position: unset;

    @media (any-pointer: fine) {
      min-height: var(--one-px-in-rem) * 48;
    }

    @media (width >= 640px) {
      &:where(.search) {
        position: relative;
      }
    }

    @media (width >= 1024px) {
      padding: 0;
      position: relative;

      &:where(.menu) {
        & > :global(:is(input, label)) {
          display: none;
        }
      }
    }

    &:where(:not(:last-child)) {
      border-inline-end: var(--border-size-sm) solid var(--color-border);

      @media (width >= 1024px) {
        border-inline-end: none;
      }
    }
  }

  .navbar-item-label {
    font-size: var(--font-size-xs);
    text-transform: uppercase;

    @media (width >= 640px) {
      padding-inline: var(--spacing-2xs);
    }

    @media (width >= 1024px) {
      flex-flow: row wrap;
      justify-content: start;
      padding: var(--spacing-xs)
        clamp(var(--spacing-2xs), 1.25dvw, var(--spacing-lg));
    }
  }

  :where(.navbar-item:has(> input:checked)) .navbar-item-label {
    border-color: var(--color-primary);
  }

  :where(.navbar-item:has(> input:checked:not(:focus))) .navbar-item-label {
    outline: none;
    border-color: var(--color-primary);
  }

  :where(.navbar-item:has(> input:not(:checked))) .navbar-item-label {
    @media (width >= 1024px) {
      border-color: var(--color-border);
    }
  }

  :where(.navbar-item:where(.search, .settings)) .navbar-item-label {
    @media (width >= 1024px) {
      background-color: var(--color-regular-light);
      font-size: var(--font-size-sm);
      outline-offset: calc(var(--border-size-sm) * -1);
      text-transform: none;
    }
  }

  .navbar-item-modal {
    --x: 0;

    left: 0;
    right: 0;
    bottom: calc(100% + var(--spacing-4xs) - var(--border-size-sm));
    z-index: 10;
    background: var(--color-regular-lighter);
    border-block: var(--border-size-sm) solid var(--color-border);
    box-shadow: var(--shadow-elevated-to-bottom-center);

    @media (width >= 640px) {
      min-width: max-content;
      left: auto;
      bottom: unset;
      top: 100%;
      border-inline: var(--border-size-sm) solid var(--color-border);
      box-shadow: var(--shadow-elevated-to-top-center);
    }

    @media (width >= 1024px) {
      min-width: max-content;
      box-shadow: var(--shadow-elevated-to-top-left);
    }
  }

  :where(.navbar-item.menu) .navbar-item-modal {
    transform-origin: 20% 100%;

    @media (width >= 640px) {
      --x: -40%;
      right: auto;
      transform-origin: 10% -25%;
    }

    @media (width >= 1024px) {
      display: contents;
      position: relative;
      inset: unset;
      visibility: visible;
      opacity: 1;
      transform: none;
    }
  }

  :where(.navbar-item.search) .navbar-item-modal {
    transform-origin: 50% 100%;

    @media (width >= 640px) {
      --x: 25%;

      transform-origin: 90% -50%;
    }
  }

  :where(.navbar-item.settings) .navbar-item-modal {
    transform-origin: 80% 100%;

    @media (width >= 640px) {
      transform-origin: 85% -25%;
    }
  }

  :where(.navbar-item:where(.search, .settings)) .navbar-item-modal {
    @media (width >= 1024px) {
      --x: var(--spacing-sm);
      --y: -50%;

      top: 50%;
      left: 100%;
      transform-origin: -20% 5%;
    }
  }
</style>
