---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import PaginationComponent from "./pagination.astro";

const title = "Pagination";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});

const renderLink: ComponentProps<typeof PaginationComponent>["renderLink"] = (
  page
) => `#page-${page}`;
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>Pagination</code> component should be used when a collection of items
      is divided in multiple pages.
    </p>
    <Heading as="h2">With few pages</Heading>
    <PaginationComponent current={1} last={4} renderLink={renderLink} />
    <Heading as="h2">With ellipsis and current page is first page</Heading>
    <PaginationComponent current={1} last={10} renderLink={renderLink} />
    <Heading as="h2">With ellipsis and current page is last page</Heading>
    <PaginationComponent current={10} last={10} renderLink={renderLink} />
    <Heading as="h2">
      With both ellipsis and current page is in the middle
    </Heading>
    <PaginationComponent current={25} last={50} renderLink={renderLink} />
    <Heading as="h2"> With custom siblings number </Heading>
    <PaginationComponent
      current={25}
      last={50}
      renderLink={renderLink}
      siblings={3}
    />
  </Fragment>
</PageLayout>
