---
import type { ComponentProps } from "astro/types";
import Box from "../../atoms/box/box.astro";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import ContactCardComponent from "./contact-card.astro";

const title = "ContactCard";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Organisms", url: "/design-system/components/organisms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `Design system / Components / Organisms / ${title}`,
};

const socialMedia = {
  diaspora: "#diaspora",
  github: "#github",
  linkedin: "#linkedin",
  stackoverflow: "#stackoverflow",
} satisfies ComponentProps<typeof ContactCardComponent>["socialMedia"];
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      An <code>ContactCard</code> component should be used to display contact methods.
    </p>
  </Fragment>
  <Fragment slot="disconnected-body">
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>Default</Heading>
    </Box>
    <ContactCardComponent contactPageRoute="#contact" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>With social links</Heading>
    </Box>
    <ContactCardComponent
      contactPageRoute="#contact"
      isCentered
      socialMedia={socialMedia}
    />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>With heading</Heading>
    </Box>
    <ContactCardComponent
      contactPageRoute="#contact"
      isCentered
      socialMedia={socialMedia}
    >
      <Heading as="h3" slot="heading">Contact</Heading>
    </ContactCardComponent>
  </Fragment>
</PageLayout>
