---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import ContactCardComponent from "./contact-card.astro";

const title = "ContactCard";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      An <code>ContactCard</code> component should be used to display contact methods.
    </p>
    <CodePreview
      code={`import ContactCard from "./components/organisms/contact-card/contact-card.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<ContactCard contactPageRoute="#contact" />`}
      label="Basic use"
      lang="astro"
    >
      <ContactCardComponent contactPageRoute="#contact" />
    </CodePreview>
    <Heading>With social links</Heading>
    <CodePreview
      code={`import ContactCard from "./components/organisms/contact-card/contact-card.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`---
const socialMedia = {
  diaspora: "#diaspora",
  github: "#github",
  linkedin: "#linkedin",
  stackoverflow: "#stackoverflow",
}
---
<ContactCard contactPageRoute="#contact" socialMedia={socialMedia} />`}
      label="Showing social media"
      lang="astro"
    >
      <ContactCardComponent
        contactPageRoute="#contact"
        socialMedia={{
          diaspora: "#diaspora",
          github: "#github",
          linkedin: "#linkedin",
          stackoverflow: "#stackoverflow",
        }}
      />
    </CodePreview>
    <Heading>With heading</Heading>
    <CodePreview
      code={`---
const socialMedia = {
  diaspora: "#diaspora",
  github: "#github",
  linkedin: "#linkedin",
  stackoverflow: "#stackoverflow",
}
---
<ContactCard contactPageRoute="#contact" socialMedia={socialMedia}>
  <Heading as="h3" slot="heading">Contact</Heading>
</ContactCard>`}
      label="Adding a heading"
      lang="astro"
    >
      <ContactCardComponent
        contactPageRoute="#contact"
        socialMedia={{
          diaspora: "#diaspora",
          github: "#github",
          linkedin: "#linkedin",
          stackoverflow: "#stackoverflow",
        }}
      >
        <Heading as="h3" slot="heading">Contact</Heading>
      </ContactCardComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
