---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import IdentityCardComponent from "./identity-card.astro";

const title = "IdentityCard";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});

// cSpell:ignore ˈdʒɑn ˈdoʊ
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      An <code>IdentityCard</code> component should be used to display information
      about an author.
    </p>
    <CodePreview
      code={`import IdentityCard from "./components/organisms/identity-card/identity-card.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<IdentityCard author={{ name: "John Doe" }} />`}
      label="Basic use"
      lang="astro"
    >
      <IdentityCardComponent author={{ name: "John Doe" }} />
    </CodePreview>
    <Heading>With avatar</Heading>
    <CodePreview
      code={`---
const authorPreviewWithAvatar = {
  avatar: {
    format: "jpg",
    height: 200,
    src: "https://picsum.photos/150/200",
    width: 150,
  },
  name: "John Doe"
}
---
<IdentityCard author={authorPreviewWithAvatar} />`}
      label="Adding an avatar"
      lang="astro"
    >
      <IdentityCardComponent
        author={{
          avatar: {
            format: "jpg",
            height: 200,
            src: "https://picsum.photos/150/200",
            width: 150,
          },
          name: "John Doe",
        }}
      />
    </CodePreview>
    <Heading>With all available data</Heading>
    <CodePreview
      code={`---
const authorPreviewWithAllInfo = {
  avatar: {
    format: "jpg",
    height: 200,
    src: "https://picsum.photos/150/200",
    width: 150,
  },
  country: "FR",
  job: "Astronaut",
  name: "John Doe",
  nameIPA: "/ˈdʒɑn/ /ˈdoʊ/",
  nationality: "FR",
  spokenLanguages: ["en", "fr"],
}
---
<IdentityCard author={authorPreviewWithAvatar} />`}
      label="Using all supported data"
      lang="astro"
    >
      <IdentityCardComponent
        author={{
          avatar: {
            format: "jpg",
            height: 200,
            src: "https://picsum.photos/150/200",
            width: 150,
          },
          country: "FR",
          job: "Astronaut",
          name: "John Doe",
          nameIPA: "/ˈdʒɑn/ /ˈdoʊ/",
          nationality: "FR",
          spokenLanguages: ["en", "fr"],
        }}
      />
    </CodePreview>
    <Heading>With a heading</Heading>
    <CodePreview
      code={`---
const authorPreviewWithAllInfo = {
  avatar: {
    format: "jpg",
    height: 200,
    src: "https://picsum.photos/150/200",
    width: 150,
  },
  country: "FR",
  job: "Astronaut",
  name: "John Doe",
  nameIPA: "/ˈdʒɑn/ /ˈdoʊ/",
  nationality: "FR",
  spokenLanguages: ["en", "fr"],
}
---
<IdentityCard author={authorPreviewWithAvatar}>
  <Heading as="h3" slot="heading">About John Doe</Heading>
</IdentityCard>`}
      label="Using all supported data"
      lang="astro"
    >
      <IdentityCardComponent
        author={{
          avatar: {
            format: "jpg",
            height: 200,
            src: "https://picsum.photos/150/200",
            width: 150,
          },
          country: "FR",
          job: "Astronaut",
          name: "John Doe",
          nameIPA: "/ˈdʒɑn/ /ˈdoʊ/",
          nationality: "FR",
          spokenLanguages: ["en", "fr"],
        }}
      >
        <Heading as="h3" slot="heading">About John Doe</Heading>
      </IdentityCardComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
