---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Box from "../../atoms/box/box.astro";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import IdentityCardComponent from "./identity-card.astro";

const title = "IdentityCard";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});

const authorPreview = {
  name: "John Doe",
} satisfies ComponentProps<typeof IdentityCardComponent>["author"];

const authorPreviewWithAvatar = {
  ...authorPreview,
  avatar: {
    format: "jpg",
    height: 200,
    src: "https://picsum.photos/150/200",
    width: 150,
  },
} satisfies ComponentProps<typeof IdentityCardComponent>["author"];

const authorPreviewWithAllInfo = {
  ...authorPreview,
  avatar: {
    format: "jpg",
    height: 200,
    src: "https://picsum.photos/150/200",
    width: 150,
  },
  country: "FR",
  job: "Astronaut",
  // cSpell:ignore ˈdʒɑn ˈdoʊ
  nameIPA: `/ˈdʒɑn/ /ˈdoʊ/`,
  nationality: "FR",
  spokenLanguages: ["en", "fr"],
} satisfies ComponentProps<typeof IdentityCardComponent>["author"];
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      An <code>IdentityCard</code> component should be used to display information
      about an author.
    </p>
  </Fragment>
  <Fragment slot="disconnected-body">
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>Default</Heading>
    </Box>
    <IdentityCardComponent author={authorPreview} isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>With avatar</Heading>
    </Box>
    <IdentityCardComponent author={authorPreviewWithAvatar} isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>With all available data</Heading>
    </Box>
    <IdentityCardComponent author={authorPreviewWithAllInfo} isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading>With heading</Heading>
    </Box>
    <IdentityCardComponent author={authorPreviewWithAllInfo} isCentered>
      <Heading as="h3" slot="heading">About {authorPreview.name}</Heading>
    </IdentityCardComponent>
  </Fragment>
</PageLayout>
