---
import type { ComponentProps, HTMLAttributes } from "astro/types";
import "../../../styles/global.css";
import { CONFIG } from "../../../utils/constants";
import Copyright from "../../atoms/copyright/copyright.astro";
import Head from "../../atoms/head/head.astro";
import License from "../../atoms/license/license.astro";
import BackTo from "../../molecules/back-to/back-to.astro";
import Branding from "../../molecules/branding/branding.astro";
import NavItem from "../../molecules/nav-item/nav-item.astro";
import NavList from "../../molecules/nav-list/nav-list.astro";
import SkipTo from "../../molecules/skip-to/skip-to.astro";
import Navbar from "../../organisms/navbar/navbar.astro";
import SearchForm from "../../organisms/search-form/search-form.astro";
import MainNav from "../../organisms/main-nav/main-nav.astro";
import SettingsForm from "../../organisms/settings-form/settings-form.astro";
import { useI18n } from "../../../utils/i18n";

type Props = Pick<ComponentProps<typeof Head>, "seo"> &
  Omit<HTMLAttributes<"div">, "id">;

const { class: className, seo, ...attrs } = Astro.props;
const { locale, route, translate } = useI18n(Astro.currentLocale);
const isHome = Astro.url.pathname === route("home");
const mainNav = [
  {
    icon: "home",
    iconSize: 28,
    label: translate("page.home.title"),
    url: route("home"),
  },
  {
    icon: "blog",
    iconSize: 28,
    label: translate("page.blog.title"),
    url: route("blog"),
  },
  {
    icon: "guide",
    iconSize: 28,
    label: translate("page.guides.title"),
    url: route("guides"),
  },
  {
    icon: "notepad",
    iconSize: 28,
    label: translate("page.notes.title"),
    url: route("notes"),
  },
  {
    icon: "project",
    iconSize: 28,
    label: translate("page.projects.title"),
    url: route("projects"),
  },
  {
    icon: "bookmark",
    iconSize: 28,
    label: translate("page.bookmarks.title"),
    url: route("bookmarks"),
  },
  {
    icon: "globe",
    iconSize: 28,
    label: translate("page.blogroll.title"),
    url: route("blogroll"),
  },
  {
    icon: "contact",
    iconSize: 28,
    label: translate("page.contact.title"),
    url: route("contact"),
  },
] satisfies ComponentProps<typeof NavList>["items"];
const footerLinks = [
  { label: translate("page.legal.notice.title"), url: route("legal.notice") },
  {
    icon: "feed",
    iconSize: 17,
    label: translate("page.feeds.title"),
    url: route("feeds"),
  },
  ...(import.meta.env.DEV
    ? [{ label: "Design system", url: "/design-system" }]
    : []),
] satisfies ComponentProps<typeof NavList>["items"];
const contentsId = translate("anchor.site.content");
const topId = translate("anchor.site.top");
---

<html
  data-shiki="light"
  data-theme="light"
  lang={locale}
  style="color-scheme: light;"
>
  <Head
    addBrandToTitle={!isHome}
    brand={CONFIG.BRAND}
    colorScheme="light dark"
    seo={seo}
    themeColor="#214769"
  >
    <link
      rel="preload"
      href="/fonts/Inter/Inter.woff2?v=3.18"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <slot name="head" />
    <script is:inline>
      !(function () {
        const e = localStorage.getItem("settings:theme"),
          t = "string" == typeof e ? JSON.parse(e) : void 0,
          o = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light",
          c = e && ["dark", "light"].includes(t) ? t : o;
        document.documentElement.setAttribute("data-theme", c),
          (document.documentElement.style.colorScheme = c);
      })();
      !(function () {
        const e = localStorage.getItem("settings:shiki"),
          t = "string" == typeof e ? JSON.parse(e) : void 0,
          o = document.documentElement.getAttribute("data-theme"),
          s = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light",
          c = e && ["dark", "light"].includes(t) ? t : o === "auto" ? s : o;
        document.documentElement.setAttribute("data-shiki", c);
      })();
    </script>
    <noscript>
      <style>
        .js-only {
          display: none !important;
        }
      </style>
    </noscript>
  </Head>
  <body>
    <ap-website class="site" id={topId}>
      <SkipTo anchor={`#${contentsId}`}>
        {translate("cta.skip.to.content")}
      </SkipTo>
      <header class="site-header">
        <div class="site-branding">
          <Branding brand={CONFIG.BRAND} url="/" />
        </div>
        <Navbar
          aria-label={translate("nav.label.primary")}
          class="site-navbar"
          id="site-navbar"
        >
          <MainNav items={mainNav} slot="nav" />
          <SearchForm
            id="site-search"
            isInline
            queryParam={CONFIG.SEARCH.QUERY_PARAM}
            resultsPage={route("search")}
            slot="search"
          />
          <SettingsForm id="site-settings" slot="settings" />
        </Navbar>
      </header>
      <div {...attrs} class:list={["site-body", className]} id={contentsId}>
        <slot />
      </div>
      <footer class="site-footer">
        <Copyright creationYear={CONFIG.CREATION_YEAR} owner={CONFIG.BRAND} />
        <License />
        <NavList class="site-footer-nav" isInline items={footerLinks}>
          {
            ({ label, url, ...item }) => (
              <NavItem {...item} href={url}>
                {label}
              </NavItem>
            )
          }
        </NavList>
        <BackTo
          anchor={`#${topId}`}
          class="site-back-to-top"
          label={translate("cta.back.to.top")}
        />
      </footer>
      <svg
        aria-hidden="true"
        width="0"
        height="0"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <filter color-interpolation-filters="sRGB" id="paper-filter">
            <feTurbulence
              baseFrequency="0.020"
              numOctaves="7"
              result="noise"
              seed="3"
              type="fractalNoise"></feTurbulence>
            <feDiffuseLighting
              diffuseConstant="1.1"
              lighting-color="var(--color-regular)"
              in="noise"
              surfaceScale="0.600"
            >
              <feDistantLight azimuth="60" elevation="65"></feDistantLight>
            </feDiffuseLighting>
          </filter>
          <filter color-interpolation-filters="sRGB" id="dark-paper-filter">
            <feTurbulence
              baseFrequency="0.020"
              numOctaves="7"
              result="noise"
              seed="3"
              type="fractalNoise"></feTurbulence>
            <feDiffuseLighting
              diffuseConstant="1.2"
              lighting-color="var(--color-regular)"
              in="noise"
              surfaceScale="1.1"
            >
              <feDistantLight azimuth="40" elevation="57"></feDistantLight>
            </feDiffuseLighting>
          </filter>
        </defs>
      </svg>
    </ap-website>
  </body>
</html>

<style>
  body {
    accent-color: var(--color-primary);
    background: var(--color-regular);
    color: var(--color-on-regular);
    font-family: var(--font-family-regular);
    font-size: var(--font-size-md);
    line-height: var(--line-height);

    ::selection {
      background: var(--color-primary);
      color: var(--color-on-primary);
    }
  }

  .site {
    display: flex;
    flex-flow: column;
    min-height: 100dvh;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: minmax(13em, 21dvw) minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr) minmax(0, auto);
    }

    &::before {
      content: "";
      position: fixed;
      inset: 0;
      z-index: -1;
      clip-path: inset(0);
      pointer-events: none;
      user-select: none;

      /* Fixes a Chromium bug where the SVG filter wasn't updated when
       * switching the theme... */
      transform: translate3d(0, 0, 0);
    }
  }

  .site-header {
    display: contents;

    @media (width >= 640px) {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-sm);
      border-block-end: var(--border-size-sm) solid var(--color-border);
      box-shadow: var(--shadow-raised-to-top-center);
    }

    @media (width >= 1024px) {
      grid-column: 1;
      grid-row: 1;
      flex-flow: column;
      gap: var(--spacing-sm);
      padding-block-start: clamp(var(--spacing-4xs), 1.5dvh, var(--spacing-md));
      padding-inline: var(--spacing-xs);
      border-block-end: none;
      box-shadow: none;
    }
  }

  .site-branding,
  .site-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .site-branding {
    justify-content: center;
    padding: var(--spacing-4xs) var(--spacing-2xs);
    border-block-end: var(--border-size-sm) solid var(--color-border);

    @media (width >= 640px) {
      border-block: 0;
    }
  }

  .site-navbar {
    order: 1;
    position: sticky;
    bottom: 0;
    border-block-start: var(--border-size-sm) solid var(--color-border);
    box-shadow: var(--shadow-raised-to-bottom-center);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      clip-path: inset(0);
      pointer-events: none;
      user-select: none;
    }

    @media (width >= 640px) {
      flex: 1;
      order: unset;
      position: relative;
      bottom: unset;
      border-block: 0;
      border-inline-start: var(--border-size-sm) solid var(--color-border);
      box-shadow: none;
    }

    @media (width >= 1024px) {
      flex: 1;
      margin-block-start: clamp(var(--spacing-2xs), 1.5dvh, var(--spacing-md));
      border-inline-start: none;
    }
  }

  .site-body {
    container: body / inline-size;
    flex: 1;

    @media (width >= 1024px) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .site-footer {
    justify-content: center;
    gap: var(--spacing-4xs);
    padding: clamp(var(--spacing-md), 3dvh, var(--spacing-lg));
    font-size: var(--font-size-sm);

    @media (width >= 1024px) {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }

  .site-footer-nav {
    gap: var(--spacing-xs);
    margin-inline-start: var(--spacing-xs);
  }

  .site-back-to-top {
    position: fixed;

    /* This not ideal because the navbar height could change but setting a
       * fix height to the navbar is not ideal neither so I prefer to use a
       * "magic" number here. */
    bottom: 6.5rem;
    right: calc(1dvw + var(--spacing-sm));
    z-index: 2;

    @media (width >= 640px) {
      bottom: calc(1dvw + var(--spacing-md));
    }

    @media (width >= 640px) {
      right: calc(1dvw + var(--spacing-md));
    }
  }

  :global(:where([data-theme="light"])) {
    .site::before,
    .site-navbar::before {
      filter: url("#paper-filter");
    }
  }

  :global(:where([data-theme="dark"])) {
    .site::before,
    .site-navbar::before {
      filter: url("#dark-paper-filter");
    }
  }
</style>

<script>
  import {
    settings,
    SHIKI_SETTING_KEY,
    THEME_SETTING_KEY,
    type Settings,
  } from "../../../services/stores/settings";
  import type { Theme } from "../../../types/tokens";
  import { resolveCurrentColorScheme } from "../../../utils/themes";

  class APWebsite extends HTMLElement {
    #backToTopBtn: HTMLAnchorElement | null = null;

    constructor() {
      super();
      this.handlePreferDarkSchemeChange =
        this.handlePreferDarkSchemeChange.bind(this);
      this.listenSettings = this.listenSettings.bind(this);
      this.updateBackToTopBtnVisibility =
        this.updateBackToTopBtnVisibility.bind(this);
    }

    connectedCallback() {
      this.#backToTopBtn = this.querySelector("a.site-back-to-top");

      this.updateBackToTopBtnVisibility();
      window.addEventListener("scroll", this.updateBackToTopBtnVisibility);
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", this.handlePreferDarkSchemeChange);

      settings.subscribe(this.listenSettings);
    }

    disconnectedCallback() {
      window.removeEventListener("scroll", this.updateBackToTopBtnVisibility);
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .removeEventListener("change", this.handlePreferDarkSchemeChange);
    }

    hideEl(el: HTMLElement) {
      el.style.opacity = "0";
      el.style.visibility = "hidden";
    }

    showEl(el: HTMLElement) {
      el.style.opacity = "1";
      el.style.visibility = "visible";
    }

    updateBackToTopBtnVisibility() {
      if (!this.#backToTopBtn) return;

      const breakpoint = 300;

      if (window.scrollY >= breakpoint) this.showEl(this.#backToTopBtn);
      else this.hideEl(this.#backToTopBtn);
    }

    #resolveTheme(theme: Theme, key: keyof Settings) {
      if (key === SHIKI_SETTING_KEY && theme === "auto")
        return settings.get().theme;

      return theme;
    }

    #updateThemeAttrsOnDocument(theme: Theme, key: keyof Settings) {
      const resolvedTheme = this.#resolveTheme(theme, key);
      const colorScheme = resolveCurrentColorScheme(resolvedTheme);

      window.document.documentElement.setAttribute(`data-${key}`, colorScheme);

      if (key === THEME_SETTING_KEY)
        window.document.documentElement.style.colorScheme = colorScheme;
    }

    listenSettings(
      newSettings: Readonly<Settings>,
      _oldSettings: Readonly<Settings> | undefined,
      changedKey: keyof Settings | undefined,
    ): void {
      if (!changedKey || typeof window === "undefined") return;

      this.#updateThemeAttrsOnDocument(newSettings[changedKey], changedKey);

      if (changedKey === THEME_SETTING_KEY && newSettings.shiki === "auto")
        this.#updateThemeAttrsOnDocument(newSettings.theme, SHIKI_SETTING_KEY);
    }

    handlePreferDarkSchemeChange(e: MediaQueryListEvent) {
      const currentSettings = settings.get();
      const resolvedTheme = e.matches ? "dark" : "light";

      if (currentSettings.shiki === "auto")
        this.#updateThemeAttrsOnDocument(resolvedTheme, SHIKI_SETTING_KEY);

      if (currentSettings.theme === "auto")
        this.#updateThemeAttrsOnDocument(resolvedTheme, THEME_SETTING_KEY);
    }
  }

  customElements.define("ap-website", APWebsite);
</script>
