---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import TimeComponent from "./time.astro";

const title = "Time";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});

const date = new Date();
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Introduction</Heading>
    <CodePreview
      code={`import Time from "./components/atoms/time/time.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`---
const date = new Date();
---
<Time date={date} />`}
      label="Basic use"
      lang="astro"
    >
      <TimeComponent date={date} />
    </CodePreview>
    <Heading>With time</Heading>
    <CodePreview
      code={`---
const date = new Date();
---
<Time date={date} showTime /> />`}
      label="Showing the time"
      lang="astro"
    >
      <TimeComponent date={date} showTime />
    </CodePreview>
    <Heading>Without day</Heading>
    <CodePreview
      code={`---
const date = new Date();
---
<Time date={date} hideDay /> />`}
      label="Hiding the day"
      lang="astro"
    >
      <TimeComponent date={date} hideDay />
    </CodePreview>
    <Heading>Without month</Heading>
    <p>
      You shouldn't hide the month alone because it does not make sense to use
      the day and the year without a month, but this is supported:
    </p>
    <CodePreview
      code={`---
const date = new Date();
---
<Time date={date} hideMonth /> />`}
      label="Hiding the month"
      lang="astro"
    >
      <TimeComponent date={date} hideMonth />
    </CodePreview>
    <Heading>Without year</Heading>
    <CodePreview
      code={`---
const date = new Date();
---
<Time date={date} hideYear /> />`}
      label="Hiding the year"
      lang="astro"
    >
      <TimeComponent date={date} hideYear />
    </CodePreview>
    <Heading>Without day and month</Heading>
    <CodePreview
      code={`---
const date = new Date();
---
<Time date={date} hideDay hideMonth /> />`}
      label="Hiding the day and the month"
      lang="astro"
    >
      <TimeComponent date={date} hideDay hideMonth />
    </CodePreview>
  </Fragment>
</PageLayout>
