---
import { getStoryMeta } from "../../../utils/stories";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import TimeComponent from "./time.astro";

const title = "Time";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});

const date = new Date();
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Default</Heading>
    <TimeComponent date={date} />
    <Heading>With time</Heading>
    <TimeComponent date={date} showTime />
    <Heading>Without day</Heading>
    <TimeComponent date={date} hideDay />
    <Heading>Without month</Heading>
    <p>
      It does not make sense to use the day and the year without month, but you
      can do it:
    </p>
    <TimeComponent date={date} hideMonth />
    <Heading>Without year</Heading>
    <TimeComponent date={date} hideYear />
    <Heading>Without day and month</Heading>
    <TimeComponent date={date} hideDay hideMonth />
  </Fragment>
</PageLayout>
