---
import type { ComponentProps } from "astro/types";
import Layout from "../../../templates/layout/layout.astro";
import PageComponent from "../page.astro";

const title = "Page with everything";

const cover: ComponentProps<typeof PageComponent>["cover"] = {
  alt: "A cover example",
  height: 480,
  src: "https://picsum.photos/640/480",
  width: 640,
};

const toc: ComponentProps<typeof PageComponent>["toc"] = [
  { depth: 1, slug: "#heading1", text: "Heading 1" },
  { depth: 1, slug: "#heading2", text: "Heading 2" },
];

const seo: ComponentProps<typeof Layout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Organisms | Components | Design system`,
};
---

<Layout seo={seo}>
  <PageComponent cover={cover} feed="#feed" heading={title} toc={toc}>
    <div slot="meta">Some meta</div>
    <p slot="body">This is the main content of the page.</p>
    <div slot="disconnected-body">
      This is the content of the a disconnected body.
    </div>
    <div slot="footer">Some footer contents.</div>
  </PageComponent>
</Layout>
