---
import type { ComponentProps } from "astro/types";
import { Icon } from "astro-icon/components";
import logo from "../../assets/logo-unpressed.svg";
import Button from "../../components/atoms/button/button.astro";
import CardsList from "../../components/molecules/cards-list/cards-list.astro";
import Section from "../../components/molecules/section/section.astro";
import PreviewCard from "../../components/organisms/preview-card/preview-card.astro";
import Layout from "../../components/templates/layout/layout.astro";
import { getPersonGraph } from "../../lib/schema-dts/graphs/person-graph";
import { getWebPageGraph } from "../../lib/schema-dts/graphs/webpage-graph";
import { getWebSiteGraph } from "../../lib/schema-dts/graphs/website-graph";
import {
  convertPageToPreview,
  queryCollection,
  queryEntry,
  type QueriedEntry,
} from "../../services/collections";
import { useI18n } from "../../services/i18n";

type Props = Partial<ComponentProps<typeof Layout>> & {
  entry: QueriedEntry<"pages">;
};

const {
  entry: { Content, hasContent, ...page },
  ...props
} = Astro.props;
const { translate, translatePlural } = useI18n(Astro.currentLocale);
const author = await queryEntry({
  collection: "authors",
  id: "armand-philippot",
});
const graphs: ComponentProps<typeof Layout>["graphs"] = [
  await getPersonGraph(author, page.locale),
  await getWebSiteGraph({
    description: page.seo.description ?? page.description,
    locale: page.locale,
    logo: logo.src,
  }),
  await getWebPageGraph({
    ...page,
    title: page.seo.title,
  }),
];
const { entries: collections } = await queryCollection(
  ["index.pages", "pages"],
  {
    format: "preview",
    orderBy: { key: "title", order: "ASC" },
    where: {
      ids: [
        `${page.locale}/blog`,
        `${page.locale}/blogroll`,
        `${page.locale}/bookmarks`,
        `${page.locale}/contributions`,
        `${page.locale}/guides`,
        `${page.locale}/notes`,
        `${page.locale}/projects`,
        `${page.locale}/tags`,
      ],
      locale: page.locale,
    },
  }
);
---

<Layout graphs={graphs} seo={page.seo} {...props}>
  {
    collections?.length ? (
      <Section class="homepage-collections">
        <h2 slot="heading">
          {translate("page.home.section.collections.heading")}
        </h2>
        <Button
          aria-label={translate("cta.subscribe.to.website")}
          as="a"
          href={`${page.route}feed.xml`}
          slot="cta"
        >
          <Icon aria-hidden="true" name="feed" />
          {translate("cta.subscribe")}
        </Button>
        <CardsList
          isContainer
          items={collections}
          sizeMinCols="clamp(26rem,20dvi,30rem)"
        >
          {(entry: (typeof collections)[number]) => (
            <PreviewCard
              class="homepage-collection"
              elevation="raised"
              entry={convertPageToPreview(entry, {
                i18n: { translate, translatePlural },
              })}
              headingLvl="h3"
            />
          )}
        </CardsList>
      </Section>
    ) : null
  }
</Layout>
