---
import type { ComponentProps } from "astro/types";
import { Icon } from "astro-icon/components";
import type { MetaItem } from "../../../types/data";
import type { Gap } from "../../../types/tokens";
import DescriptionList from "../../atoms/description-list/description-list.astro";
import Link from "../../atoms/link/link.astro";
import Time from "../../atoms/time/time.astro";

type Props = ComponentProps<typeof DescriptionList> & {
  gap?: Gap | null | undefined;
  hideLabel?: boolean | null | undefined;
  items: MetaItem[];
};

const {
  class: className,
  gap = { col: "2xs" },
  hideLabel = false,
  items,
  slot,
  ...attrs
} = Astro.props;
const defaultIconSize = 22;
---

<DescriptionList {...attrs} class:list={[className, "meta"]} gap={gap}>
  {
    items.map((item) => (
      <div class="meta-item">
        <dt>
          {item.icon?.name ? (
            <Icon
              aria-hidden="true"
              class="meta-icon"
              name={item.icon.name}
              size={item.icon.size ?? defaultIconSize}
            />
          ) : null}
          <span class:list={{ "sr-only": hideLabel }}>{item.label}</span>
        </dt>
        {item.values.map((value) => (
          <dd title={item.description}>
            {value instanceof Date ? (
              <Time date={value} />
            ) : /* eslint-disable-next-line unicorn/no-nested-ternary -- formatter conflict */
            typeof value === "object" ? (
              <Link href={value.path}>{value.label}</Link>
            ) : (
              value
            )}
          </dd>
        ))}
      </div>
    ))
  }
</DescriptionList>

<style>
  @layer molecules {
    .meta-icon {
      margin-inline-end: var(--spacing-2xs);
      vertical-align: text-bottom;
    }
  }
</style>
