---
import type { ComponentProps } from "astro/types";
import Box from "../../atoms/box/box.astro";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import CollectionCardComponent from "./collection-card.astro";

const title = "CollectionCard";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Organisms", url: "/design-system/components/organisms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};

const basicCard = {
  collection: "pages",
  description: "A short description of the page.",
  id: "basic-card",
  locale: "en",
  route: "#libero-est-aut",
  title: "The page title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const blog = {
  collection: "blogroll",
  description: {
    en: "A short description about the blog.",
  },
  id: "any-blog",
  meta: {
    inLanguages: ["en"],
    publishedOn: new Date(),
    updatedOn: new Date(),
  },
  title: "The blog title",
  url: "#molestiae-eum-facere",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const blogCategory = {
  collection: "blogCategories",
  description: "An excerpt about the blog category.",
  id: "category-card",
  locale: "en",
  route: "#et-perferendis-qui",
  title: "The blog category title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const blogPost = {
  collection: "blogPosts",
  description: "An excerpt about the blog post.",
  id: "post-card",
  locale: "en",
  meta: {
    category: {
      title: "A category",
      route: "#quisquam-itaque-provident",
    },
    publishedOn: new Date("2024-09-16"),
    updatedOn: new Date(),
  },
  route: "#et-perferendis-qui",
  title: "The blog post title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const bookmark = {
  collection: "bookmarks",
  description: "A short description about the bookmark.",
  id: "bookmark-card",
  meta: {
    inLanguage: "en",
    publishedOn: new Date(),
  },
  title: "The bookmark title",
  url: "#molestiae-eum-facere",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const guide = {
  collection: "guides",
  description: "An excerpt about the guide.",
  id: "guide-card",
  locale: "en",
  meta: {
    publishedOn: new Date("2024-09-16"),
    updatedOn: new Date("2024-09-16"),
  },
  route: "#et-perferendis-qui",
  title: "The guide title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const note = {
  collection: "notes",
  description: "An excerpt about the note.",
  id: "note-card",
  locale: "en",
  meta: {
    publishedOn: new Date("2024-09-16"),
    updatedOn: new Date("2024-09-16"),
  },
  route: "#et-perferendis-qui",
  title: "The note title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const page = {
  collection: "pages",
  description: "An excerpt about the page.",
  id: "page-card",
  locale: "en",
  route: "#et-perferendis-qui",
  title: "The page title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const project = {
  collection: "projects",
  description: "An excerpt about the project.",
  id: "project-card",
  locale: "en",
  meta: {
    kind: "site",
    repository: "https://github.com/user/repo",
    publishedOn: new Date("2024-09-16"),
    updatedOn: new Date("2024-09-16"),
  },
  route: "#et-perferendis-qui",
  title: "The project title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];

const tag = {
  collection: "tags",
  description: "An excerpt about the tag.",
  id: "tag-card",
  locale: "en",
  route: "#et-perferendis-qui",
  title: "The tag title",
} satisfies ComponentProps<typeof CollectionCardComponent>["entry"];
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>CollectionCard</code> component should be used to display a collection
      entry preview and to visit a link to learn more about this entry.
    </p>
  </Fragment>
  <Fragment slot="disconnected-body">
    <CollectionCardComponent entry={basicCard} headingLvl="h3" />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading as="h2">Variants</Heading>
      <Heading as="h3">With collection</Heading>
    </Box>
    <CollectionCardComponent
      entry={basicCard}
      headingLvl="h4"
      isCentered
      showCollection
    />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">With featured meta</Heading></Box
    >
    <CollectionCardComponent
      entry={project}
      featuredMeta={{ key: "kind" }}
      headingLvl="h4"
      isCentered
    />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">With CTA</Heading></Box
    >
    <CollectionCardComponent
      cta={{ label: "Read more" }}
      entry={basicCard}
      headingLvl="h4"
      isCentered
    />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading as="h2">Collections examples</Heading>
      <p>Following you'll see some common examples for each collection.</p>
    </Box>
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Blogroll</Heading></Box
    >
    <CollectionCardComponent entry={blog} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Blog Category</Heading></Box
    >
    <CollectionCardComponent entry={blogCategory} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Blog Post</Heading></Box
    >
    <CollectionCardComponent entry={blogPost} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Bookmark</Heading></Box
    >
    <CollectionCardComponent entry={bookmark} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Guide</Heading></Box
    >
    <CollectionCardComponent entry={guide} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Notes</Heading></Box
    >
    <CollectionCardComponent entry={note} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Page</Heading></Box
    >
    <CollectionCardComponent entry={page} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Project</Heading></Box
    >
    <CollectionCardComponent entry={project} headingLvl="h4" isCentered />
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced><Heading as="h3">Tag</Heading></Box
    >
    <CollectionCardComponent entry={tag} headingLvl="h4" isCentered />
  </Fragment>
</PageLayout>
