---
import type { ComponentProps } from "astro/types";
import logo from "../../../assets/logo.svg";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import ImgComponent from "./img.astro";

const title = "Img";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Atoms", url: "/design-system/components/atoms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Imported local image</Heading>
    <ImgComponent alt="The logo" src={logo} />
    <Heading>Imported local image with link</Heading>
    <p>
      The image can be linked to its source with the <code>data-clickable</code>
      attribute.
    </p>
    <ImgComponent alt="The logo" data-clickable="true" src={logo} />
    <Heading>Remote image</Heading>
    <ImgComponent
      alt="An example"
      height={480}
      src="https://picsum.photos/640/480"
      width={640}
    />
  </Fragment>
</PageLayout>
