---
import logo from "../../../assets/logo.svg";
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import ImgComponent from "./img.astro";

const title = "Img";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Introduction</Heading>
    <CodePreview
      code={`import Img from "./components/atoms/img/img.astro"`}
      label="How to import"
      lang="ts"
    />
    <Heading>Imported local image</Heading>
    <CodePreview
      code={`---
import logo from "../../../assets/logo.svg";
---
<Img alt="The logo" src={logo} />`}
      label="Basic use"
      lang="astro"
    >
      <ImgComponent alt="The logo" src={logo} />
    </CodePreview>
    <Heading>Imported local image with link</Heading>
    <p>
      The image can be linked to its source with the <code>data-clickable</code>
      attribute.
    </p>
    <CodePreview
      code={`---
import logo from "../../../assets/logo.svg";
---
<Img alt="The logo" data-clickable="true" src={logo} />`}
      label="Using a clickable image"
      lang="astro"
    >
      <ImgComponent alt="The logo" data-clickable="true" src={logo} />
    </CodePreview>
    <Heading>Remote image</Heading>
    <CodePreview
      code={`<Img
  alt="An example"
  height={480}
  src="https://picsum.photos/640/480"
  width={640}
/>`}
      label="Using a remote image"
      lang="astro"
    >
      <ImgComponent
        alt="An example"
        height={480}
        src="https://picsum.photos/640/480"
        width={640}
      />
    </CodePreview>
  </Fragment>
</PageLayout>
