---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import CodePreview from "../code-preview/code-preview.astro";
import PopoverComponent from "./popover.astro";

const title = "Popover";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <CodePreview
      code={`import Popover from "./components/molecules/popover/popover.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<Popover
  controllerId="default-controller"
  modalId="default-modal"
>
  <label for="default-controller" slot="label">Open default modal</label>
  <div id="default-modal" slot="modal">
    The content of the default modal.
  </div>
</Popover>`}
      label="Basic use"
      lang="astro"
    >
      <PopoverComponent
        controllerId="default-controller"
        modalId="default-modal"
      >
        <label for="default-controller" slot="label">Open default modal</label>
        <div id="default-modal" slot="modal">
          The content of the default modal.
        </div>
      </PopoverComponent>
    </CodePreview>
    <Heading as="h2">Using callback functions to access IDs</Heading>
    <CodePreview
      code={`<Popover
  controllerId="callback-controller"
  modalId="callback-modal"
>
  <fragment slot="label">
    {
      (controllerId: string) => (
        <label for={controllerId}>Open callback example modal</label>
      )
    }
  </fragment>
  <fragment slot="modal">
    {
      (modalId: string) => (
        <div id={modalId} slot="modal">
          The content of the callback example modal.
        </div>
      )
    }
  </fragment>
</Popover>`}
      label="Using callback functions"
      lang="astro"
    >
      <PopoverComponent
        controllerId="callback-controller"
        modalId="callback-modal"
      >
        <fragment slot="label">
          {
            (controllerId: string) => (
              <label for={controllerId}>Open callback example modal</label>
            )
          }
        </fragment>
        <fragment slot="modal">
          {
            (modalId: string) => (
              <div id={modalId} slot="modal">
                The content of the callback example modal.
              </div>
            )
          }
        </fragment>
      </PopoverComponent>
    </CodePreview>
    <Heading as="h2">Opening direction</Heading>
    <Heading as="h3">Bottom</Heading>
    <CodePreview
      code={`<Popover
  controllerId="bottom-controller"
  modalId="bottom-modal"
  openTo="bottom"
>
  <label for="bottom-controller" slot="label">Open bottom modal</label>
  <div id="bottom-modal" slot="modal">
    The content of the bottom modal.
  </div>
</Popover>`}
      label="Opening the modal to the bottom"
      lang="astro"
    >
      <PopoverComponent
        controllerId="bottom-controller"
        modalId="bottom-modal"
        openTo="bottom"
      >
        <label for="bottom-controller" slot="label">Open bottom modal</label>
        <div id="bottom-modal" slot="modal">
          The content of the bottom modal.
        </div>
      </PopoverComponent>
    </CodePreview>
    <Heading as="h3">Top</Heading>
    <CodePreview
      code={`<Popover
  controllerId="top-controller"
  modalId="top-modal"
  openTo="top"
>
  <label for="top-controller" slot="label">Open top modal</label>
  <div id="top-modal" slot="modal">
    The content of the top modal.
  </div>
</Popover>`}
      label="Opening the modal to the top"
      lang="astro"
    >
      <PopoverComponent
        controllerId="top-controller"
        modalId="top-modal"
        openTo="top"
      >
        <label for="top-controller" slot="label">Open top modal</label>
        <div id="top-modal" slot="modal">The content of the top modal.</div>
      </PopoverComponent>
    </CodePreview>
    <Heading as="h3">Left</Heading>
    <CodePreview
      code={`<Popover
  controllerId="left-controller"
  modalId="left-modal"
  openTo="left"
>
  <label for="left-controller" slot="label">Open left modal</label>
  <div id="left-modal" slot="modal">
    The content of the left modal.
  </div>
</Popover>`}
      label="Opening the modal to the left"
      lang="astro"
    >
      <PopoverComponent
        controllerId="left-controller"
        modalId="left-modal"
        openTo="left"
      >
        <label for="left-controller" slot="label">Open left modal</label>
        <div id="left-modal" slot="modal">The content of the left modal.</div>
      </PopoverComponent>
    </CodePreview>
    <Heading as="h3">Right</Heading>
    <CodePreview
      code={`<Popover
  controllerId="right-controller"
  modalId="right-modal"
  openTo="right"
>
  <label for="right-controller" slot="label">Open right modal</label>
  <div id="right-modal" slot="modal">
    The content of the right modal.
  </div>
</Popover>`}
      label="Opening the modal to the right"
      lang="astro"
    >
      <PopoverComponent
        controllerId="right-controller"
        modalId="right-modal"
        openTo="right"
      >
        <label for="right-controller" slot="label">Open right modal</label>
        <div id="right-modal" slot="modal">The content of the right modal.</div>
      </PopoverComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
