---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import PopoverComponent from "./popover.astro";

const title = "Popover";

const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Molecules", url: "/design-system/components/molecules" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Default</Heading>
    <PopoverComponent controllerId="default-controller" modalId="default-modal">
      <label for="default-controller" slot="label">Open default modal</label>
      <div id="default-modal" slot="modal">
        The content of the default modal.
      </div>
    </PopoverComponent>
    <Heading as="h2">Using callback functions to access IDs</Heading>
    <PopoverComponent
      controllerId="callback-controller"
      modalId="callback-modal"
    >
      <fragment slot="label">
        {
          (controllerId: string) => (
            <label for={controllerId}>Open callback example modal</label>
          )
        }
      </fragment>
      <fragment slot="modal">
        {
          (modalId: string) => (
            <div id={modalId} slot="modal">
              The content of the callback example modal.
            </div>
          )
        }
      </fragment>
    </PopoverComponent>
    <Heading as="h2">Opening direction</Heading>
    <Heading as="h3">Bottom</Heading>
    <PopoverComponent
      controllerId="bottom-controller"
      modalId="bottom-modal"
      openTo="bottom"
    >
      <label for="bottom-controller" slot="label">Open bottom modal</label>
      <div id="bottom-modal" slot="modal">The content of the bottom modal.</div>
    </PopoverComponent>
    <Heading as="h3">Top</Heading>
    <PopoverComponent
      controllerId="top-controller"
      modalId="top-modal"
      openTo="top"
    >
      <label for="top-controller" slot="label">Open top modal</label>
      <div id="top-modal" slot="modal">The content of the top modal.</div>
    </PopoverComponent>
    <Heading as="h3">Left</Heading>
    <PopoverComponent
      controllerId="left-controller"
      modalId="left-modal"
      openTo="left"
    >
      <label for="left-controller" slot="label">Open left modal</label>
      <div id="left-modal" slot="modal">The content of the left modal.</div>
    </PopoverComponent>
    <Heading as="h3">Right</Heading>
    <PopoverComponent
      controllerId="right-controller"
      modalId="right-modal"
      openTo="right"
    >
      <label for="right-controller" slot="label">Open right modal</label>
      <div id="right-modal" slot="modal">The content of the right modal.</div>
    </PopoverComponent>
  </Fragment>
</PageLayout>
