---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import LanguagePickerComponent from "./language-picker.astro";

/* cSpell:ignore Español Français */

const title = "LanguagePicker";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
const languages: ComponentProps<typeof LanguagePickerComponent>["languages"] = {
  en: { name: "English", route: "#en" },
  es: { name: "Español", route: "#es" },
  fr: { name: "Français", route: "#fr" },
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      This component is used to let an user choose the current language of the
      website.
    </p>
    <LanguagePickerComponent
      current="es"
      id="usage-example"
      label="Choose a language:"
      languages={languages}
    />
    <Heading as="h2">Options</Heading>
    <Heading as="h3"><code>isInline</code></Heading>
    <LanguagePickerComponent
      current="es"
      gap="2xs"
      id="is-inline-example"
      isInline
      label="Choose a language:"
      languages={languages}
    />
  </Fragment>
</PageLayout>
