---
import type { HTMLAttributes } from "astro/types";
import { availableNamedLanguages, useI18n } from "../../../services/i18n";
import { useRouting } from "../../../services/routing";
import type { AltLanguage } from "../../../types/data";
import LanguagePicker from "../../molecules/language-picker/language-picker.astro";
import ThemeSetting from "../../molecules/theme-setting/theme-setting.astro";

type Props = HTMLAttributes<"form"> & {
  altLanguages?: AltLanguage[] | null | undefined;
};

const { altLanguages, class: className, id, ...attrs } = Astro.props;
const { routeById } = await useRouting();
const { locale, translate } = useI18n(Astro.currentLocale);
const languages = Object.fromEntries(
  Object.entries(availableNamedLanguages).map(([lang, langName]) => [
    lang,
    {
      name: langName,
      route:
        lang === locale
          ? Astro.url.href
          : (altLanguages?.find((altLang) => altLang.locale === lang)?.route ??
            routeById(`${lang}/home`)),
    },
  ])
);
---

<form {...attrs} class:list={["settings-form", className]} id={id}>
  {
    Object.keys(languages).length > 1 ? (
      <LanguagePicker
        class="settings-form-language"
        current={locale}
        id={`${id}-language-picker`}
        label={translate("form.settings.label.language")}
        languages={languages}
      />
    ) : null
  }
  <ThemeSetting
    class="settings-form-theme"
    id={`${id}-theme`}
    label={translate("form.settings.label.theme.website")}
    setting="theme"
  />
  <ThemeSetting
    class="settings-form-theme"
    id={`${id}-shiki`}
    label={translate("form.settings.label.theme.shiki")}
    setting="shiki"
  />
</form>

<style>
  .settings-form {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    place-items: center center;

    @media (--xxs-or-above) {
      grid-template-columns: max-content minmax(0, 1fr);
      justify-items: end;
      gap: var(--spacing-sm);
      width: fit-content;
    }
  }

  /* We need to increase specificity because of inconsistencies between
   * dev/build modes. */
  .settings-form .settings-form-language,
  .settings-form .settings-form-theme > :global(*) {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  /* We need to increase specificity because of inconsistencies between
   * dev/build modes. */
  .settings-form .settings-form-language,
  .settings-form .settings-form-theme,
  .settings-form .settings-form-theme > :global(*) {
    @media (--xxs-or-above) {
      display: contents;
    }
  }
</style>
