---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import CodePreview from "../code-preview/code-preview.astro";
import SocialLinksComponent from "./social-links.astro";

const title = "SocialLinks";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});

const links: ComponentProps<typeof SocialLinksComponent>["links"] = {
  diaspora: "#diaspora",
  github: "#github",
  linkedin: "#linkedin",
  stackoverflow: "#stackoverflow",
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Introduction</Heading>
    <p>
      A <code>SocialLinks</code> component should be used to display a list of social
      links, usually the profiles of an author.
    </p>
    <CodePreview
      code={`import SocialLinks from "./components/molecules/social-links/social-links.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<SocialLinks links={links} />`}
      label="Basic use"
      lang="astro"
    >
      <SocialLinksComponent links={links} />
    </CodePreview>
    <Heading>With hidden labels</Heading>
    <CodePreview
      code={`<SocialLinks hideLabels links={links} />`}
      label="Hiding the labels"
      lang="astro"
    >
      <SocialLinksComponent hideLabels links={links} />
    </CodePreview>
  </Fragment>
</PageLayout>
