---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import SocialLinksComponent from "./social-links.astro";

const title = "SocialLinks";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});

const links: ComponentProps<typeof SocialLinksComponent>["links"] = {
  diaspora: "#diaspora",
  github: "#github",
  linkedin: "#linkedin",
  stackoverflow: "#stackoverflow",
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Usage</Heading>
    <p>
      A <code>SocialLinks</code> component should be used to display a list of social
      links, usually the profiles of an author.
    </p>
    <Heading>With labels</Heading>
    <SocialLinksComponent links={links} />
    <Heading>With hidden labels</Heading>
    <SocialLinksComponent hideLabels links={links} />
  </Fragment>
</PageLayout>
